body{
    margin: 0px;
}
header{
    top: -16px;
    left: 0px;
    right: 0px;
}
ul{
    display: flex;
    background-color: rgb(61, 61, 61);
    list-style: none;
    align-content: center;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    flex-wrap: wrap;
}
li{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
    font-family: sans-serif;
    color: white;
}
.smallLogo{
    height: 20px;
}
.iPhone11{
    left: 0px;
    right: 0px;
    font-family: sans-serif;
}
.iPhone11 .logo{   
    display: block;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}
.iPhone11 h1{
    text-align: center;
    font-size: 40px;
}
a{
    color: rgb(61, 61, 255);
    text-decoration: none;
}
.thispieceofshitlinkwontcenter{
    text-align: center;
}
.bigPhone{
    display: block;
<<<<<<< HEAD
    width: 70%;
=======
    width: 75%;
>>>>>>> cafdafbab34a0e5b86488e0328b9fcaed27e43a0
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.iPhonePro{
    background-color: black;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.iPhonePro h1{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 40px;
}
.iPhonePro a{
    font-size: 22px;
    color: rgb(92, 92, 255);
}
.iPhonePro h2{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    margin-left: 5%;
    margin-right: 5%;
}
.iPhonePro p{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 15px;
}
.waterPhone{
    display: block;
    width: 70%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.grid div{
    display: block;
    background-color: rgb(247, 247, 247);
    width: calc(50vw - 40px);
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    justify-content: center;
    font-family: sans-serif;
    width: 900px;
}
.grid div h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
}
.grid div h2{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0px;
}
.grid div a{
    margin-top: 10px;
    font-size: 15px;
}
.grid .thispieceofshitlinkwontcenter{
    height: auto;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}
.grid img{
    width: 40%;
    margin-left: 30%;
    align-self: center;
}
